@font-face {
  font-family: "Exo2RegularCondensed";
  src: url("../font/Exo2RegularCondensed/Exo2RegularCondensed.woff2") format("woff2"), url("../font/Exo2RegularCondensed/Exo2RegularCondensed.ttf") format("truetype"), url("../font/Exo2RegularCondensed/Exo2RegularCondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "digital-7";
  src: url("../font/digital-7/digital-7.woff2") format("woff2"), url("../font/digital-7/digital-7.ttf") format("truetype"), url("../font/digital-7/digital-7.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Exo2RegularCondensed", Arial, sans-serif;
  height: 100vh;
}

ul {
  list-style: none;
}

.hide {
  display: none;
}

.wrap-winamp {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.winamp {
  width: 274px;
  border: 1px solid #506276;
  padding: 0 2px 2px 2px;
  background: -webkit-radial-gradient(#3f3e60, #1c1b2b);
  background: radial-gradient(#3f3e60, #1c1b2b);
  color: #37d739;
}

.winamp-header {
  padding-top: 14px;
  background: url("../img/sprite.png") no-repeat 0 0;
  background-size: cover;
}

.winamp-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6px 2px 0 5px;
  margin-top: 2px;
  border: 1px solid #595b68;
  border-bottom: none;
}

.winamp-main-left {
  position: relative;
  width: 90px;
  height: 44px;
  background-color: #000;
  border-top: 1px solid #18171d;
  border-left: 1px solid #18171d;
  border-right: 1px solid #6c697a;
  border-bottom: 1px solid #6c697a;
}
.winamp-main-left span {
  position: absolute;
  right: 3px;
  top: 8px;
  font-family: "digital-7", Arial, sans-serif;
  font-size: 30px;
  line-height: 15px;
  letter-spacing: 2px;
}

.winamp-main-right__title {
  position: relative;
  overflow: hidden;
  background-color: #000;
  margin-bottom: 4px;
  padding: 0px 4px;
  width: 162px;
  height: 15px;
  border-top: 1px solid #282544;
  border-left: 1px solid #282544;
  border-right: 1px solid #7a6697;
  border-bottom: 1px solid #7a6697;
  font-size: 11px;
  overflow: hidden;
}
.winamp-main-right__title span {
  letter-spacing: 1px;
  display: inline-block;
}
.winamp-main-right__title p {
  position: absolute;
  animation: winamp-main-right__marquee 10s linear infinite alternate;
}

.winamp-main-right__quality {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 8px;
}
.winamp-main-right__quality span {
  cursor: pointer;
}

.winamp-main-right__quality-kbps-desc {
  color: #fff;
}

.winamp-main-right__quality-music {
  display: inline-block;
  float: right;
  margin-right: 2px;
}

.winamp-main-right__quality-kbps,
.winamp-main-right__quality-khz {
  display: inline-block;
  padding-bottom: 2px;
  height: 12px;
  background-color: #000;
  border-top: 1px solid #282544;
  border-left: 1px solid #282544;
  border-right: 1px solid #7a6697;
  border-bottom: 1px solid #7a6697;
  margin-right: 3px;
}

.winamp-main-right__quality-kbps {
  width: 18px;
}

.winamp-main-right__quality-khz {
  width: 13px;
}

.winamp-main-right__quality-mono {
  color: #fff;
}

.winamp-main-right__quality-stereo {
  color: #37d739;
}

.winamp-main-right__volume {
  position: relative;
  background-color: #ce0b09;
  height: 5px;
  border-top: 1px solid #450d10;
  border-bottom: 1px solid #bb617d;
  width: 37%;
  border-radius: 10px;
  cursor: pointer;
}
.winamp-main-right__volume button {
  position: absolute;
  top: -3px;
  left: 0;
  width: 14px;
  height: 11px;
  font-size: 0;
  outline: none;
  border: 1px solid #000;
  background: url("../img/sprite.png") #efe0b5 -119px 15px;
}
.winamp-main-right__volume button:hover {
  opacity: 0.8;
}

.winamp-main-bottom {
  width: 100%;
}

.winamp-main-bottom__rewind {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 250px;
  height: 12px;
  margin-top: 8px;
  border-top: 2px solid #1c1d31;
  border-left: 2px solid #1c1d31;
  border-bottom: 2px solid #6c6a80;
  border-right: 2px solid #6c6a80;
  cursor: pointer;
}
.winamp-main-bottom__rewind button {
  position: absolute;
  top: 0;
  width: 30px;
  height: 10px;
  font-size: 0;
  outline: none;
  background: url("../img/sprite.png") #efe0b5 -43px 25px;
}
.winamp-main-bottom__rewind button:hover {
  opacity: 0.8;
}

.winamp-bottom {
  position: relative;
  padding: 6px 10px 7px;
  border: 1px solid #595b68;
  border-top: none;
  font-size: 0;
}
.winamp-bottom button {
  height: 16px;
  width: 22px;
  border-left: 1px solid #a6b3bc;
  border-top: 1px solid #a6b3bc;
  border-bottom: 1px solid #525e6a;
  border-right: 1px solid #525e6a;
  outline: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.winamp-bottom button:hover {
  opacity: 0.8;
}
.winamp-bottom .btn-shuffle {
  width: 45px;
  height: 13px;
}

.btn-playlist--indent {
  margin: 0 6px;
}

.btn-prev {
  background: url("../img/sprite.png") #afbdc8 -20px 15px;
}

.btn-play {
  background: url("../img/sprite.png") #afbdc8 -60px 15px;
}

.btn-pause {
  background: url("../img/sprite.png") #afbdc8 -40px 15px;
}

.btn-reset {
  background: url("../img/sprite.png") #afbdc8 -80px 15px;
}

.btn-next {
  background: url("../img/sprite.png") #afbdc8 0px 15px;
}

.btn-playlist {
  background: url("../img/sprite.png") #afbdc8 -100px 15px;
}

.btn-shuffle {
  background: url("../img/sprite.png") #afbdc8 0px 26px;
}

.winamp-bottom__logo {
  position: absolute;
  right: 4px;
  top: 6px;
}
.winamp-bottom__logo img {
  width: 18px;
  height: 18px;
  display: block;
}

.winamp-main-right__marquee {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 95%;
}
.winamp-main-right__marquee span {
  height: 15px;
  white-space: nowrap;
}

.winamp-main-right__marquee-name {
  margin-right: 10px;
}

.winamp-main-right__marquee:hover {
  animation-play-state: paused;
}

@keyframes winamp-main-right__marquee {
  0% {
    left: 180px;
  }
  100% {
    left: -180px;
  }
}
.winamp-playlist ul {
  border: 1px solid #506276;
  border-top: none;
  padding: 3px 3px 3px 3px;
}
.winamp-playlist ul li {
  cursor: pointer;
}

.winamp-playlist-header {
  padding-top: 13px;
  background: url("../img/sprite.png") no-repeat 0 -13px;
  background-size: cover;
  border-left: 1px solid #73738d;
  border-right: 1px solid #73738d;
}

.winamp-playlist-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 70px;
  border: 1px solid #73738d;
  border-top: none;
  padding: 3px 3px 0 3px;
  text-align: center;
}

.dragFilesHere {
  font-weight: bold;
  font-size: 14px;
  margin: auto;
  width: 100%;
  height: 50px;
  border: 1px solid #37d739;
  border-radius: 10px;
  line-height: 50px;
}

.active-track {
  color: #fff !important;
  cursor: pointer;
}

.lazyScroll {
  animation: lazyScroll linear;
}

@keyframes lazyScroll {
  from {
    left: 0px;
  }
  to {
    left: 216px;
  }
}
.spinIt {
  animation: spinIt 3s linear forwards;
}

#analyser_render {
  width: 500px;
  height: 50px;
  background: #002D3C;
  margin-bottom: 10px;
}
